<div class="heading-title heading-dotted text-center">
						<h1>Map</h1>
</div>

<div id="map" style="height: 400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbt5Jh9HUerVLKOELNPSa7QMDxis2J3Do&callback=initMap" 
async defer></script>

<div class="heading-title heading-dotted text-center">
						<h1>Ask Watson about the current state of our products</h1>
</div>

<div class='IBMWatson'>
    <%= watson %>
    <button style="left: 47%;" type="submit" id="watson" class="btn btn-primary">Ask Watson</button>
    <br>
    <audio style="margin-left: 40.5%;" id="audio" controls>
        <source src="<%= audio_path '/hello_world.wav'%>">
    </audio>
</div>


<script>
    $('#watson').on('click', ()=>{
            var audio = $('#audio').get(0);
            audio.paused? audio.play():audio.pause()
            audio.paused? $('#watson').text('PLAY'):$('#watson').text('PAUSE')
        })

    var address = `<%= @address.to_json.html_safe %>`
    var test = address.substring(1)
    var test2 = test.slice(0, -1);
    var address_array = JSON.parse(test2)
    var weather_api_key = 'a2145b9dca544c7db7f133657211911';


    var info_marker = `<%= @info_marker.to_json.html_safe %>`
    test = info_marker.substring(1)
    test2 = test.slice(0, -1);
    var info_array = JSON.parse(test2)

    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    function initMap() {
        var infoWindow = new google.maps.InfoWindow();
        const myLatLng = { lat: 37.09024, lng: -95.712891 };
        const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: myLatLng,
        });
        address_array.forEach(element => {
            var marker = new google.maps.Marker({
                position: { lat: element.lat, lng: element.long },
                map,
                title: 'Building #' + element.id,
            });
            info_array.forEach(info => {
                if (element.numberAndStreet == info.Address) {
                    url = "http://api.weatherapi.com/v1/forecast.json?key=a2145b9dca544c7db7f133657211911&q=" + element.lat + ',' + element.long + "&days=1&aqi=no&alerts=no"
                    x = JSON.parse(httpGet(url)).current;
                    var content = "<ul>" +
                                  "<li>" + "Address: " + info.Address + "</li>" +
                                  "<li>" + "Customer full name: " + info.Client + "</li>" +
                                  "<li>" + "Contact full name: " + info.Contact + "</li>" +
                                  "<li>" + "Number of Batteries: " + info.NumberOfBattery + "</li>" +
                                  "<li>" +  "Number of Columns: " + info.NumberOfColumn + "</li>" +
                                  "<li>" + "Number of Elevators: " + info.NumberOfElevator + "</li>" +
                                  "<li>" + "Weather: " + x['condition']['text'] + " " + x["temp_c"] + " *C" + "</li>" +
                                  "</ul>";
                    google.maps.event.addListener(marker, 'click', (function (marker) {
                        return function () {
                            infoWindow.setContent(content);
                            infoWindow.open(map, marker);
                        }
                    })(marker));     
                }
            });
        });
    }

</script>

<%= dropbox %>

