<h1>TEST 1 2 3</h1>
<div id="map" style="height: 400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbt5Jh9HUerVLKOELNPSa7QMDxis2J3Do&callback=initMap" 
async defer></script>

<div class='IBMWatson'>
    <%# <%= watson %> %>
    <audio controls>
        <source src="<%= audio_path '/hello_world.wav'%>">
    </audio>
    
    <%# <%= sendgrid(Lead.all[101])%> %>
</div>
</div>

<script>
    var address = `<%= @address.to_json.html_safe %>`
    var test = address.substring(1)
    var test2 = test.slice(0, -1);
    var address_array = JSON.parse(test2)

    var info_marker = `<%= @info_marker.to_json.html_safe %>`
    test = info_marker.substring(1)
    test2 = test.slice(0, -1);
    var info_array = JSON.parse(test2)

    console.log(info_array)

    function initMap() {
        var infoWindow = new google.maps.InfoWindow();
        const myLatLng = { lat: 37.09024, lng: -95.712891 };
        const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: myLatLng,
        });
        address_array.forEach(element => {
            var marker = new google.maps.Marker({
                position: { lat: element.lat, lng: element.long },
                map,
                title: "Hello World!",
            });
            info_array.forEach(info => {
                if (element.numberAndStreet == info.Address) {
                    var content = "<ul>" +
                                  "<li>" + "Address: " + info.Address + "</li>" +
                                  "<li>" + "Customer full name: " + info.Client + "</li>" +
                                  "<li>" + "Contact full name: " + info.Contact + "</li>" +
                                  "<li>" + "Number of Batteries: " + info.NumberOfBattery + "</li>" +
                                  "<li>" +  "Number of Columns: " + info.NumberOfColumn + "</li>" +
                                  "<li>" + "Number of Elevators: " + info.NumberOfElevator + "</li>" +
                                  "</ul>";
                    google.maps.event.addListener(marker, 'click', (function (marker) {
                        return function () {
                            infoWindow.setContent(content);
                            infoWindow.open(map, marker);
                        }
                    })(marker));     
                }
            });
        });
    }

</script>

<%= dropbox %>
